<%- include('../partials/header.ejs')%>
    <link href="/styles/newConnection.css" rel="stylesheet" type="text/css">
    <main>
        <h1>Edit Event</h1>
        <form action="/connections/<%= connection.id%>?_method=PUT" method="POST">
            <label>Game Type: <select id="topic" name="topic">
                    <option value="Sports">Sports</option>
                    <option value="Racing">Racing</option>
                </select></label><br>
            <label>Title: <input type="text" name="title" value="<%= connection.title%>" required></label><br>
            <label>Host: <input type="text" name="host" value="<%= connection.host%>" required> </label><br>
            <label>Details: <br><textarea name="details" cols="20" rows="4"
                    required><%= connection.details%></textarea></label>
            <br>
            <label>Location: <input type="text" name="location" value="<%= connection.location%>" required></label><br>
            <label>When: <input type="date" name="date" value="<%= connection.date%>" required></label><br>
            <label>Start: <input type="time" name="startTime" value="<%= connection.startTime%>" required></label><br>
            <label>End: <input type="time" name="endTime" value="<%= connection.endTime%>" required></label><br>
            <label>Image URL: <input type="text" name="image" value="<%= connection.image%>" required></label><br><br>
            <input type="submit" value="Save" class="button">
        </form>
    </main>
    <br><br><br><br><br><br><br><br>
    <%- include('../partials/footer.ejs')%>